@import "var.scss";
body,
html {
    width: 100vw;
    overflow-x: hidden;
    word-wrap: break-word;
}
#full {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 60px;
    padding: 10px;
    justify-content: space-between;
    #content {
        max-width: 1000px;
    }
    i {
        font-size: 2em;
        margin-top: 30px;
    }
    #top {
        display: flex;
        padding-left: 10px;
        img {
            display: none;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-right: 5px;
        }
        #right {
            margin-left: 5px;
            h3 {
                margin-top: -10px;
                text-align: left;
            }
            .btns {
                margin-bottom: 30px;
                margin-left: -15px;
                .button {
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: $light-gray;
                    color: $grey;
                    border-radius: 4px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
            }
        }
    }
    #side {
        display: none;
    }
    #answers {
        padding-left: 10px;
        margin-top: 40px;
        .answer {
            margin-top: 30px;
            display: flex;
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            i {
                font-size: 1em;
                margin-left: -3px;
            }
            #right {
                margin-left: 10px;
            }
        }
    }
}
#suggested {
    max-width: 1000px;
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    h3 {
        margin-left: 20px;
    }
    .flexit {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .item {
            padding-left: 20px;
            padding-right: 20px;
            h5 {
                margin-bottom: 0;
            }
            i {
                color: $medium-gray;
            }
        }
    }
}
footer {
    margin-top: 100px;
}
@media screen and (min-width: 768px) {
    #full {
        #top {
            img {
                margin-top: 10px;
                display: block;
            }
        }
        #side {
            .item {
                border-bottom: 1px solid $light-gray;
                p {
                    margin-top: -5px;
                    color: $grey;
                }
            }
            display: block!IMPORTANT;
            width: 650px;
        }
        hr {
            border-color: $black;
            border-width: 5px;
            width: 25px;
            margin-left: 0;
        }
        #flexbox {
            display: flex;
        }
        #answers {
            margin-left: 50px;
        }
        #right {
            p {
                padding-right: 100px;
            }
        }
    }
}
