@import 'var.scss';
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.fadeIn {
    animation: fadeIn;
    animation-duration: .7s;
}
#name {
    margin-top: 50px;
    padding: 10px;
    h2,
    h4 {
        text-align: center;
    }
    form {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        button {
            width: 125px;
            border: none;
            border-radius: 4px;
            margin-top: 10px;
            background-color: $yellow;
            font-family: "Montserrat";
            text-align: center;
        }
    }
}
